altgraph==0.15
arrow==0.17.0
astroid==2.3.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.3
cycler==0.10.0
future==0.16.0
idna==2.8
isort==4.3.21
keyboard==0.13.3
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
macholib==1.9
mccabe==0.6.1
modbus-tk==0.5.9
pefile==2017.11.5
Pillow==5.3.0
prompt-toolkit==2.0.7
protobuf==3.7.0
protocol==0.1.0
psutil==5.7.0
PyAutoGUI==0.9.38
pyinstall==0.1.4
PyInstaller==3.3.1
pylint==2.4.4
PyMsgBox==1.0.9
PyQt5==5.15.0
PyQt5-sip==4.19.14
pyqt5-tools==5.13.0.1.5
pyqtgraph==0.10.0
PyScreeze==0.1.18
pyserial==3.4
python-barcode==0.10.0
python-dateutil==2.7.5
python-dotenv==0.10.3
python-redmine==2.3.0
PyTweening==1.0.3
pywin32==224
requests==2.25.1
scipy==1.2.0
six==1.14.0
soupsieve==1.9.1
typed-ast==1.4.1
urllib3==1.25.3
wcwidth==0.1.7
wordcloud==1.5.0
wrapt==1.11.2
